<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bookmark</key>
		<data>
		Ym9va4wEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAfAMAAAUAAAABAQAAVXNlcnMAAAAVAAAAAQEAAGVtbWFudWVsbG9wZXpn
		dWVycmVybwAAAAcAAAABAQAATGlicmFyeQAQAAAAAQEAAE1vYmlsZSBEb2N1
		bWVudHMXAAAAAQEAAGNvbX5hcHBsZX5TY3JpcHRFZGl0b3IyAAkAAAABAQAA
		RG9jdW1lbnRzAAAADQAAAAEBAABVbnRpdGxlZC5zY3B0AAAAHAAAAAEGAAAE
		AAAAFAAAADQAAABEAAAAXAAAAHwAAACQAAAACAAAAAQDAACjywkAAAAAAAgA
		AAAEAwAA7XYKAAAAAAAIAAAABAMAAO52CgAAAAAACAAAAAQDAADWiwoAAAAA
		AAgAAAAEAwAA6ZsKAAAAAAAIAAAABAMAAOqbCgAAAAAACAAAAAQDAABJi1UA
		AAAAABwAAAABBgAAzAAAANwAAADsAAAA/AAAAAwBAAAcAQAALAEAAAgAAAAA
		BAAAQcB8c+VjYcwYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgA
		AAAEAwAABQAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDQAA
		AAEBAABNYWNpbnRvc2ggU1NEAAAACAAAAAQDAAAAwBbmGwAAAAgAAAAABAAA
		QcAaACoAAAAkAAAAAQEAADMyNEI5RjBELUM2RTItMzFDRi04MDY2LTA3MzVF
		QTgyNUM3OBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEB
		AAAvAAAAAAAAAAEFAAAaAAAAAQEAAE5TVVJMRG9jdW1lbnRJZGVudGlmaWVy
		S2V5AAAEAAAAAwMAAKUNAgDwAAAAAQIAAGQxZGM5NjRlNWNlMmVlMTYxMjY5
		MmFmNGE4ZTI5MzdjOTI5NDkxYzE7MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAw
		MDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRib3gucmVhZC13cml0ZTsw
		MTswMTAwMDAwNDswMDAwMDAwMDAwNTU4YjQ5Oy91c2Vycy9lbW1hbnVlbGxv
		cGV6Z3VlcnJlcm8vbGlicmFyeS9tb2JpbGUgZG9jdW1lbnRzL2NvbX5hcHBs
		ZX5zY3JpcHRlZGl0b3IyL2RvY3VtZW50cy91bnRpdGxlZC5zY3B0ANgAAAD+
		////AQAAAAAAAAARAAAABBAAAKgAAAAAAAAABRAAADwBAAAAAAAAEBAAAHAB
		AAAAAAAAQBAAAGABAAAAAAAAAiAAAEACAAAAAAAABSAAAKwBAAAAAAAAECAA
		ALwBAAAAAAAAESAAAPQBAAAAAAAAEiAAANQBAAAAAAAAEyAAAOQBAAAAAAAA
		ICAAACACAAAAAAAAMCAAAEwCAAAAAAAAAcAAAJABAAAAAAAAEcAAABQAAAAA
		AAAAEsAAAKABAAAAAAAAgPAAAIQCAAAAAAAAVAIAgHgCAAAAAAAA
		</data>
		<key>modificationDate</key>
		<date>2018-07-13T13:59:38Z</date>
		<key>recordDate</key>
		<date>2018-07-13T13:59:38Z</date>
		<key>uniquingNumber</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
